:root {
  --font-heading: 'Montserrat', sans-serif; /* Para títulos y elementos destacados */
  --font-body: 'Poppins', sans-serif;       /* Para el texto principal y cuerpo */
  --font-fallback: sans-serif;              /* Siempre un fallback genérico */
  --primary: #1F58DB;
  --secondary: #2D2D2D;
  --third: #6C6C6C;
  --fourth: #DBDBDB;
  --fifth: #FFFFFF;

  --text-title-mobile-footer: 16px;
  --text-subtitle-mobile-footer: 15px;

  --text-title-desktop-footer: 11px;
  --text-subtitle-desktop-footer: 10px;

  --text-title-menu-desktop: 10px;

  --container-mobile: 280px;
  --container-desktop-1020: 900px;

  --title-mobile-weight: 550;
  --title-mobile-size: 19px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), var(--font-fallback);
  font-weight: 700; /* Asume que encolaste el peso 700 de Montserrat */
  color: #222;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

a {
  font-family: var(--font-body), var(--font-fallback);
}