/* Tu CSS existente */
.bloque4 {
  background-color: var(--fourth);
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.bloque4Container {
  width: var(--container-mobile);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

@media (min-width:1020px) {
  .bloque4Container {
    width: 900px;
    flex-direction: row;
    column-gap: 30px;
    height: 60vh;
  }
}

.bloque4__left h4,
.bloque4__left h3,
.bloque4__left p {
  margin: 0;
}

.bloque4__left {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  box-sizing: border-box;
}
@media (min-width: 1020px) {
  .bloque4__left {
    flex: .8;
    width: 50%;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
  }
}

.bloque4__left h3 {
  text-align: center;
  font-size: var(--title-mobile-size);
}
@media (min-width:1020px) {
  .bloque4__left h3 {
    text-align: left;
    width: 100%;
    font-size: 30px;
  }
}

.bloque4__left h4 {
  font-weight: 550;
  color: white;
  background-color: var(--primary);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}
@media (min-width:1020px) {
  .bloque4__left h4 {
    font-size: 15px;
  }
}

.bloque4__left p {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  width: 230px;
}
@media(min-width:1020px) {
  .bloque4__left p {
    text-align: left;
    width: 100%;
    font-size: 22px;
  }
}

.bloque4__left--content {
  display: flex;
  column-gap: 5px;
}
@media(min-width:1020px) {
  .bloque4__left--content {
    column-gap: 10px;
  }
}

.bloque4__left--content img {
  width: 70px;
  height: auto;
  border-radius: 5px;
}
@media(min-width:1020px) {
  .bloque4__left--content img {
    width: 115px;
  }
}

@media(min-width:1020px) {
  .bloque4__right {
    flex: 1;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.bloque4__right--wrapper {
  position: relative;
  /* Necesario para posicionar las flechas */
  overflow: hidden;
  /* Oculta las imágenes que no están activas */
}
@media(min-width:1020px) {
  .bloque4__right--wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.bloque4__slider--arrow {
  position: absolute;
  top: 45%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* Indica que son clicables */
  z-index: 10;
  /* Asegura que las flechas estén por encima de las imágenes */
}

.bloque4__slider--arrow--right {
  right: 0;
}

.bloque4__slider--arrow--left {
  left: 0;
}

.bloque4__right--card {
  width: 100%;
  /* height: 100%; */
  height: 12rem;
  /* Asegura que ocupe todo el espacio del wrapper */
  position: relative;
  /* Necesario para posicionar las imágenes del slider */
}
@media (min-width: 380px) {
  .bloque4__right--card {
    height: 12rem;
  }
}
@media (min-width: 1020px) {
  .bloque4__right--card {
    height: 20rem;
  }
}

.bloque4__right--card img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  position: absolute;
  /* Permite que las imágenes se superpongan */
  top: 0;
  left: 0;
  opacity: 0;
  /* Oculta por defecto */
  transition: opacity 0.5s ease-in-out;
  /* Transición suave al cambiar de imagen */
}

.bloque4__right--card img.active {
  opacity: 1;
  /* Muestra la imagen activa */
}