/* Estilos Generales */

.bloque9 {
    position: relative;
    overflow: hidden;
    background: #2D2D2D;
    background: linear-gradient(160deg, rgba(45, 45, 45, 1) 27%, rgba(49, 93, 192, 1) 100%, rgba(31, 88, 219, 1) 100%, rgba(31, 88, 219, 1) 62%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.bloque9background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(256,256,256,.3); */
    backdrop-filter: blur(2px);
    z-index: 1;
}

.bloque9__container {
    z-index: 2;
    position: relative;
    width: var(--container-mobile);
    overflow: hidden;
    /* width: 240px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    /* max-width: 1200px; */
    align-items: center;
    /* align-items: center; */
    /* margin: 20px auto; */
    /* overflow: hidden; */
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* background-color: #fff; */
    /* padding: 20px; */
}
@media (min-width: 1020px) {
    .bloque9__container {
        width: 900px;
        overflow: visible;
    }
}

.bloque9__title {
    background-color: var(--secondary);
    color: var(--fifth);
    font-size: var(--title-mobile-size);
    /* font-size: 15px; */
    font-weight: var(--title-mobile-weight);
    text-align: center;
    padding: 5px 10px;
    border: 1.5px solid var(--fifth);
    width: 110px;
    margin: 0;
    border-radius: 15px;
}

.bloque9__slider {
    width: 100%;
    position: relative;
}

.bloque9__slider--wrapper {
    overflow: hidden;
    position: relative;
}

.bloque9__slider--track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Animación de deslizamiento */
    /* column-gap: 8px; */
}

.bloque9__slider--card {
    flex-shrink: 0;
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    /* padding: 20px; */
    /* background-color: green; */
}
@media (min-width: 1020px) {
    .bloque9__slider--card { 
        margin: 0 10px;
    }     
}

.bloque9__slider--content {
    background-color: var(--fifth);
    border-radius: 15px;
    width: 180px;
    height: auto;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    row-gap: 8px;
}
@media(min-width:1020px) {
    .bloque9__slider--content { 
        width: 100%;
    }
}

.bloque9__slider--content h3 {
    margin: 0;
    font-size: 13px;
    text-align: start;
    font-weight: 500;
    color: var(--fifth);
    left: -15px;
    position: relative;
    padding: 5px 2px;
    width: 130px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: var(--primary);
    padding-left: 15px;
}

.bloque9__slider--content img {
    width: 100%;
    height: 200px;
}

.bloque9__slider--content p {
    font-size: 13px;
    font-weight: 500;
}

/* Flechas de Navegación */
.bloque9__slider--arrow {
    position: absolute;
    top: 43%;
    /* transform: translateY(-50%); */
    background-color: transparent;
    /* color: white; */
    border: none;
    /* padding: 10px 15px; */
    font-size: 1.5em;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    /* background-color: blue; */
}

.bloque9__slider--arrow img {
    width: calc(auto + 8px);
    height: 40px;
}

.bloque9__prev--arrow {
  /* background-color: blue; */
    left: 0px;
}
@media (min-width:1020px) {
    .bloque9__prev--arrow {
        left: -20px;
    }
}

.bloque9__next--arrow {
    right: 0px;
}
@media (min-width:1020px) {
    .bloque9__next--arrow {
        right: -20px;
    }
}

/* Puntos de Paginación */
.bloque9__slider--dots {
    display: none;
    justify-content: center;
    margin-top: 20px;
}
@media (min-width: 1020px) {
    .bloque9__slider--dots {
        display: flex;
    }
}

.bloque9__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bloque9__dot.active {
    background-color: #333;
}

/* Media Queries para Responsividad */
/* @media (min-width: 768px) {
    .bloque9__slider--card {
        width: calc(100% / 3 - 20px);
    }
} */

@media (min-width: 1024px) {
    .bloque9__slider--card {
        width: calc(100% / 3 - 20px);
    }
}


.bloque9__todo {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    column-gap: 7px;
}
@media (min-width:1020px) {
    .bloque9__todo {
        justify-content: flex-end;
    }
}

.bloque9__todo a {
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
}

.bloque9__todo h3 {
    color: var(--fifth);
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}

.bloque9__todo img {
    width: 20px;
    height: 20px;
}