/* Estilos Generales */

.bloque3 {
    position: relative;
    overflow: hidden;
    background: #2D2D2D;
    background: linear-gradient(160deg, rgba(45, 45, 45, 1) 27%, rgba(49, 93, 192, 1) 100%, rgba(31, 88, 219, 1) 100%, rgba(31, 88, 219, 1) 62%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
@media (min-width: 1020px) {
    .bloque3 {
        padding: 80px 0;
    }
}

.bloque3background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(256,256,256,.3); */
    backdrop-filter: blur(2px);
    z-index: 1;
}

.bloque3__container {
    z-index: 2;
    position: relative;
    width: var(--container-mobile);
    /* width: 240px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    /* max-width: 1200px; */
    align-items: center;
    /* align-items: center; */
    /* margin: 20px auto; */
    /* overflow: hidden; */
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* background-color: #fff; */
    /* padding: 20px; */
}
@media (min-width: 1020px) {
    .bloque3__container {
        width: 900px;
    }
}

.bloque3__title {
    background-color: var(--secondary);
    color: var(--fifth);
    font-size: var(--title-mobile-size);
    /* font-size: 15px; */
    font-weight: var(--title-mobile-weight);
    text-align: center;
    padding: 5px 10px;
    border: 1.5px solid var(--fifth);
    width: 240px;
    margin: 0;
    border-radius: 10px;
}
@media(min-width: 1024px) {
    .bloque3__title {
        font-size: var(--title-desktop-size);
        width: 310px;
        font-weight: var(--title-desktop-weight);
    }
}

.bloque3__slider {
    width: 100%;
    position: relative;
}

.bloque3__slider--wrapper {
    overflow: hidden;
    position: relative;
}

.bloque3__slider--track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Animación de deslizamiento */
    /* column-gap: 8px; */
}

.bloque3__slider--card {
    flex-shrink: 0;
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    /* padding: 20px; */
    /* background-color: green; */
}
@media (min-width: 1020px) {
    .bloque3__slider--card { 
        margin: 0 10px;
    }     
}

.bloque3__slider--content {
    background-color: var(--fifth);
    border-radius: 15px;
    width: 180px;
    height: auto;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}
@media(min-width:1020px) {
    .bloque3__slider--content { 
        width: 100%;
    }
}

.bloque3__slider--content img {
    width: 100%;
    height: auto;
}

.bloque3__slider--content h3 {
    margin: 0;
    font-size: 16px;
    min-height: 60px;
    font-weight: 650;
    /* background-color: green; */
    width: 100%;
}

.bloque3__slider--content h3 span {
    margin: 0;
    font-size: 14px;
    color: var(--primary);
}

.bloque3__slider--content button {
    width: 100px;
    border: none;
    background-color: var(--primary);
    color: var(--fifth);
    height: 28px;
    border-radius: 8px;
}

/* Flechas de Navegación */
.bloque3__slider--arrow {
    position: absolute;
    top: 43%;
    /* transform: translateY(-50%); */
    background-color: transparent;
    /* color: white; */
    border: none;
    /* padding: 10px 15px; */
    font-size: 1.5em;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    /* background-color: blue; */
}

.bloque3__slider--arrow img {
    width: calc(auto + 8px);
    height: 40px;
}
@media (min-width:1020px) {
    .bloque3__slider--arrow img {
        height: 50px;
    }
}

.bloque3__prev--arrow {
  /* background-color: blue; */
    left: 0px;
}
@media (min-width: 1020px) {
    .bloque3__prev--arrow {
        left: -30px;;
    }
}

.bloque3__next--arrow {
    right: 0px;
}
@media (min-width: 1020px) {
    .bloque3__next--arrow {
        right: -30px;
    }
}

/* Puntos de Paginación */
.bloque3__slider--dots {
    display: none;
    justify-content: center;
    margin-top: 20px;
}
@media (min-width: 1020px) {
    .bloque3__slider--dots {
        display: flex;
    }
}

.bloque3__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #929292;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@media (min-width:1020px) {
    .bloque3__dot {
        width: 20px;
        border-radius: 20%;
        height: 8px;
    }
}

.bloque3__dot.active {
    background-color: var(--fifth);
}

/* Media Queries para Responsividad */
/* @media (min-width: 768px) {
    .bloque3__slider--card {
        width: calc(100% / 3 - 20px);
    }
} */

@media (min-width: 1024px) {
    .bloque3__slider--card {
        width: calc(100% / 3 - 20px);
    }
}